<header class="hero-body blue-bg">
    <div class="container has-text-centered has-position-relative">
        <a href="/">
            <h1 class="title is-2"><span class="has-text-white" id="main-title">Jory's Game Rentals</span></h1>
        </a>
        <div id="header-btns">
            <a id="cart-modal-btn">
                <span class="icon is-large fa-stack has-badge" data-count="">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x has-text-white"></i>
                </span>
            </a>
        </div>
    </div>
</header>

@shoppingCartModal()