<center><h2 class="subtitle is-2"><strong>Search</strong> through and <strong>rent</strong>
  from my vast collection of games on every platform!</h2>
</center>

<br>

<form method="GET" action="/search">

  <div class="field has-addons has-addons-centered">
    <div class="control">
      <input class="input is-large is-info" name="query" placeholder="Game Title">
    </div>
    <div class="control">
      <button id="search-btn" class="button is-large is-info">Search</button>
    </div>
  </div>

</form>
