<div class="columns">

    <div class="column">

        <form method="GET" action="/game/search">

            <div class="field is-horizontal">
                <div class="field-label is-medium">
                    <label class="label">Game Title</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large is-info" type="text" name="query">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label"><!-- Spacing --></div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button type="submit" id="sku-input-btn" class="button is-medium is-info">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="column is-1"><!-- Spacing --></div>

</div>


